body{
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 100%;
  overflow-x: hidden;
}

#placa[type="text"]{
    position: relative;
background-color: white;
text-align: center;
border-bottom: none;
border-right: none;
border-top: solid blue 5px;
color: blue;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
border-left: none;
width: 80%;
height: 20px;
border-radius: 3px;
outline: auto black;
left: 3%;

}

#km[type="text"]{
 position: relative;
    display: flex;
    flex-direction: column;
    left: 13%;
    margin-top: 2vh;
    border: none;
    width: 60%;

}

.informaçoes_cliente{
    position: relative;
    background-color: white;
    width: 61%;
    height: 30vh;
  border-radius: 2vh;
}

*{
    outline: none;
}

input{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 13%;
    margin-top: 2vh;
    border: none;
    width: 30%;
    font-weight: bold;
}

input[type="text"]{
    font-weight: bold;
}

#input_cliente{
    position: relative;
    bottom: 18vh;
}


#img1{
      position: relative;
    display: flex;
   margin-top: 3vh;
    width: 3vh;
    height: 12px;
    left: 3%;
    top: 1vh;
}

#img2{
      position: relative;
    display: flex;
   margin-top: 3vh;
    width: 3vh;
    height: 12px;
    left: 3%;
    top: 6vh;
}

input[type="date"]::-webkit-calendar-picker-indicator{
opacity: 0%;
}

h4{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    top: 2vh;
    left: 0VH;
    font-size: 2vh;
    border-bottom: 1px solid rgb(233, 233, 233) ;
    width: 100%;

}

.serviços_realizados{
    background: rgb(255, 255, 255);
       position: relative;
  left: 45vh;
  bottom: 55vh;
    width: 61%;
    height: 52vh;
  border-radius: 2vh;
}

#input_serviços[type="text"]{
    position: relative;
    left: 1vh;
    top: 1.3vh;
    width: 26vh;
border-bottom: rgb(206, 206, 206) 1px solid;}

#valor1[type="text"]{
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
border-bottom: rgb(206, 206, 206) 1px solid;
}

#valor2[type="text"]{
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
border-bottom: rgb(206, 206, 206) 1px solid;
}

#valor3[type="text"]{
border-bottom: rgb(206, 206, 206) 1px solid;
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
}

#valor4[type="text"]{
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
border-bottom: rgb(206, 206, 206) 1px solid;
}

#valor5[type="text"]{
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
border-bottom: rgb(206, 206, 206) 1px solid;
}

#valor6[type="text"]{
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
border-bottom: rgb(206, 206, 206) 1px solid;
}

#valor7[type="text"]{
border-bottom: rgb(206, 206, 206) 1px solid;
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
}

#valor8[type="text"]{
    position: relative;
    left: 35.5vh;
    width: 5vh;
    bottom: 37.4vh;
border-bottom: rgb(206, 206, 206) 1px solid;
}

#input_quantidade[type="text"]{
    position: relative;
    left: 28.8vh;
    width: 5vh;
    bottom: 84.3vh;
    border-bottom: rgb(206, 206, 206) 1px solid;
}

#valortotal{
    color: rgb(255, 0, 0);
    background-color: rgb(224, 224, 224);
    position: relative;
    left: 2vh;
    height: 6vh;
    width: 38vh;
    bottom: 38vh;
    text-align: center;
  border-radius: 5px;
  font-size: 3vh;
}  

#valortotal::placeholder{
    color: rgb(255, 0, 0);
}

#input_proximatroca{
    width: 60%;
}

#img3{
      position: relative;
    display: flex;
   margin-top: 3vh;
    width: 3vh;
    height: 12px;
    left: 3%;
    top: 1vh;
    opacity: 0%;
}

#img4{
      position: relative;
    display: flex;
   margin-top: 3vh;
    width: 3vh;
    height: 12px;
    left: 3%;
    top: 6vh;
    opacity: 0%;
}

.informaçoes_adicionais{
    position: relative;
    background-color: white;
    width: 61%;
    height: 20vh;
  border-radius: 2vh;
}

#logo{
    width: 61%;
    height: 25vh;
    border-right: 45vh solid white;
    border-radius: 10px;
}

#buscar{
    position: relative;
    left: 69vh;
    bottom: 4.2vh;
    background-color: red;
    outline: red 1px solid;
    border: none;
    place-items: center;
    display: flex;
    width: 5vh;
    height: 4vh;
}

#busca{
    width: 15vh;
    height: 4vh;
    left: 54vh;
}

#lupa{
    width: 100%;
    height: 100%;
   
}

#input_adicionais{
    position: relative;
    bottom: 22.5vh;
}

.retangulo{
    position: relative;
    left: 25%;
  
width: 70vh;
}



#check{
    position: relative;
    width: 20%;
    height: 20%;
    right: 10%;
  
}

#copiar{
    position: relative;
    background: red;
    border: none;
      border-radius: 7px;
      left: 80vh;
      bottom: 8.3vh;
}

#pdf{
    position: relative;
    background: red;
    border: none;
      border-radius: 7px;
      height: 5vh;
      left: 110vh;
      top: 7vh;
      color: white;
      cursor: pointer;
}



#text_salvar{
    position: relative;
    bottom: 1vh;
    color: white;
}

.botoes_acoes{
    position: relative;
    bottom: 50vh;
    
}